@import './variable.scss';
@import './sidebar.scss';

html{
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app{
  height: 100%;
}

.clearfix{
  &::before,
  &::after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

/* element-ui */
// dropdown
.el-dropdown-menu {
  a {
    display: block;
    text-decoration: none;
    outline: none;
  }
}
